* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
  background-color: #1060aa;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}
header h3 a{
	text-decoration: none;
	color: white
}
nav {
  float: left;
  width: 12%;
  background: #e59edc;
}


/* Style the list inside the menu */
ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  overflow: hidden;
  background-color: #106aaa;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  padding: 10px 7px;
  text-decoration: none;
}



li a:hover {
  background-color: #d1ede7;
  color: black;
}

article {
  float: right;
  padding: 27px;
  width: 88%;
  background-color: #ffb6c1;
  max-height: 725px;
 }

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
section.texto{
  height: 679px;
}
p {
	padding-left: 15px;
}
/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #1060aa;
}
iframe {
  background-color: #ffffff;
  width: 100%;
  border: 0px solid  #e59edc;
  padding: 0px ;
  margin: 0px;
  height: 620px;
}
.containerav {
  position: relative;
  width: 50%;
  
}

.image {
  opacity: 1;
  display: block;
  width: 15%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }


.middleav {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 60%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: auto;
  width: 9%;
}
.middlecl {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 100%;
  left: 7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 11%;
}
.middleopen {
      transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: auto;
    width: 13%;
}
.middlelibre {
  transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 12%;
}.middleop {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: auto;
    width: 16%;
}
.middlebl {
  transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 11%;
}
.middlerecuva {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: auto;
    width: 10%;
}
.middletest {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 11%;
}
video {
    border-radius: 5px;
    vertical-align: top;
    margin-bottom: 20px;
    height: 452px;
    width: auto;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middleav {
  opacity: 1;
}
.container:hover .middlecl {
  opacity: 1;
}
.container:hover .middleopen {
  opacity: 1;
}
.container:hover .middlelibre {
  opacity: 1;
}.container:hover .middleop {
  opacity: 1;
}
.container:hover .middlebl {
  opacity: 1;
}.container:hover .middlerecuva {
  opacity: 1;
}
.container:hover .middletest {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
section.div{
height: 220px;
width: 220px;
}
p.intro{
width: 88%;
float: left
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
/*@media (max-width: 600px) {
  section{
    max-width: 100%;
    height: 70%;
    height: auto;
  }
  ul{
    width: 384px;
    height: auto;
    position: absolute;
  }
  li{
    width: 50%;

  }
  p{
    position: absolute;
    top: 26%;
  }
  footer{
    position: absolute;
    bottom: 0%;
    width: 384px;
  }
  header{
    font-size: 10px;
}
article{
  width: 100%;
  left: 0%;
}
iframe{

}
}